extends layout

mixin postSummary(post)
    h4= post.attributes.date.format("dddd, MMMM Do YYYY, h:mm a")
    h2= post.attributes.title
    h3= post.attributes.author.name
    
    .article
        h4= post.attributes.description
        //- p= post.path
        p(style={color: 'grey'})= post.attributes.tags

block content
  
  - var currentPage = parseInt(page);
  - var nextPage = parseInt(currentPage) + 1;
  - var prevPage = parseInt(currentPage) - 1;

  ul
    each article in articles
      a(href='/'+article.path)
        +postSummary(article)
      hr
      
  div(style="float: left")
    unless currentPage == 1
      a(href='/page/'+prevPage): strong(style="font-size: 200%") < Page #{prevPage} 
      //- Because we're indexing from 0 at the moment...
    
  div(style="float: right;")
    unless lastPage == true
      a(href='/page/'+nextPage): strong(style="font-size: 200%") Page #{nextPage} >
  
    

// Is making the whole block/element/thing a link to the article good or bad? I've seen it before but I've also heard this kind of thing is very aggravating for vision impaired users reading a screen reader, as it leads to confusing descriptions of the page and makes it harder for them to follow the link.
