extends layout

mixin postSummary(post)
  a(href='/'+post.path)
    div
      h4= post.attributes.date.format("dddd, MMMM Do YYYY, h:mm a")
      h2= post.attributes.title
      h3= post.attributes.author.name
    
      .article
        h4= post.attributes.description 
  unless !post.attributes.tags
    div(style="float: left") 
      each tag in post.attributes.tags
        a(href='/tag/' + querystring.escape(tag))
          kbd(style={'background-color': '#f9f2f4', 'color': '#333'}) #{tag}
        | &nbsp;
  
      
          
block content
  
  div 
    h1 Results for tag #{queryTag}:
  
  ul
    each article in articles
      if article
        div(style="padding-bottom: 10px")
          +postSummary(article)
        hr
        
